/**
 * @section Burger Menu Trigger
 */

.menu-trigger {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;

	&__open {
		display: block;

		.menu-mobile--active & {
			display: none;
		}
	}

	&__close {
		display: none;

		.menu-mobile--active & {
			display: block;
		}
	}

	@include breakpoints(md) {
		display: none;
	}
}
