/* Main Layout
----------------------------------------------------------------------------------------------------*/
.main__content {
	position: relative;
	z-index: z("main__content");
}

.container {
	max-width: $container;
	padding: 0 10px;
	margin: 0 auto;
}

@include breakpoints(md) {

	.container {
		padding: 0;
	}
}
