.grid{
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}
.pallino{
    width: 1em;
    height: 1em;
    float: left;
    border-radius: 50%;
    background: gray;
    background-color: attr(data-color);
}