.grid {
	display: grid;
	grid-template-columns: 40px 1fr 1fr 1fr;
	grid-gap: 1rem;
	padding: 1rem;
}

.pallino {
	float: left;
	width: 1em;
	height: 1em;
	background: #666;
	background-color: attr(data-color);
	border-radius: 50%;
}
