/**
 * Hero
 */

.hero {

	@include row__fullwidth;
	padding: $base-spacing 0;

	margin-bottom: $base-spacing;


	.container {
		position: relative;
		z-index: $zindex * 4;
	}

	@include breakpoints(md) {
		padding: 100px 0;
	}
}
