/**
 * Font Family
 */
$font-sansserif: arial, helvetica, sans-serif;
$font-serif: times, georgia, serif;
$customfont-1: sans-serif;
$customfont-2: sans-serif;

/**
 * Font Size
 */
$base-fz: 16px;
$heading-font-size: 25px;

/**
 * Line Height
 */
$base-lh: 1.4;
$heading-line-height: 1.2;

// Custom font declaration example  for body text
// @include declare-font-face("Roboto", "#{$fonts-url}/roboto-v15-latin/roboto-v15-latin-regular");
